*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  min-height: 100%;
  font-family: courier;
  font-size: 18px;
}

#timer-queue {
  width: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
}
#timer-queue li {
  background: gray;
  padding: 20px
}

.editor {
  height: 100%;
  width: 100%;
  border: 1px gray solid;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  white-space: pre;
}

.code-node {
}

.code-node.running {
  background: rgba(255,0,0,0.5);
}

.code-node:not(.running) {
  background: none
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

[role=code] {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  height: 75%;
}

[role=stack] {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0%;
  height: 75%;
  border: 1px gray solid;
}

[role=stack] ul {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

[role=stack] ul li {
  padding: 10px;
  background: #F0E03F;
  margin: 10px;
  width: calc(100% - 20px);
}

[role=timeouts] {
  width: 100%;
  position: absolute;
  top: 75%;
  left: 0;
  height: 12.5%;
}

[role=timeouts]:before {
  content: "Timeouts:";
  opacity: 0.5;
  padding: 5px;
  margin: 5px;
  background: gray;
  color: white;
}

[role=stack]:before {
  content: "Stack";
  opacity: 0.5;
  padding: 5px;
  margin: 5px;
  background: gray;
  color: white;
}

[role=timeouts] li {
  background: coral;
  padding: 20px;
  margin: 5px;
  list-style-type: none;
  display: inline-block;
}

[role=timeouts] li.started {
  background: lime;
}

[role=timeouts] li.finished {
  background: lime;
  opacity: 0.25;
}


[role=callbacks] {
  width: 100%;
  position: absolute;
  top: 87.5%;
  left: 0;
  height: 12.5%;
}
