*, *:before, *:after { 
  box-sizing: border-box;
}

/*#flexcanvas{
   width: 100%;
   height: 600px !important;
 }*/
html, body, .flexContainer {
  min-height: 100vh;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4 {
  font-family: Din Alternate, Helvetica Neue, Helvetica, Arial, sans-serif;
color: #666;
}

.flexContainer {
  width: 100%;
  height: 100vh;
}

.flexContainer > * {
  height: 100%;
  padding-top: 32px;
}

.rowParent, .columnParent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.columnParent{
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexChild{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.editorBox, .stackRow {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

.editorBox {
  background: #FDF6E3;
}

.codeColumn {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin-right: 20px;
  border-right: 2px #ddd solid;
}

.editor {
  min-height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.75;
  display: inline-block;
  white-space: pre;
  padding-left: 45px;
  color: #333;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 12px;
  overflow-y: hidden;
  position: relative;
}

.editor:before {
  content: attr(data-lines);
  /*content: "1\a 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A";*/
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  padding-left: 7.5px;
  text-align: center;
  background: #FBF1D3;
  height: 100%;
  white-space: pre;
}

.ace-editor-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ace_editor {
  line-height: 1.75!important;
}

.html-scratchpad {
  padding: 10px;
  background: #eee;
  overflow: scroll;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.webapi {
  padding: 5px;
  border: 2px #ddd solid;
  margin: 5px;
}

.webapi-code {
  font-family: monospace;
  height: 100%;
  vertical-align: middle;
  margin-right: 5px;
}


.webapi-code:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.webapi-timer > * {
  display: inline-block;
  vertical-align: middle;
  height: 44px;
}


@-webkit-keyframes rota {
  0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


@keyframes rota {
  0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes fill {
  0%        { opacity: 0; }
  50%, 100% { opacity: 1; }
}

@keyframes fill {
  0%        { opacity: 0; }
  50%, 100% { opacity: 1; }
}

@-webkit-keyframes mask {
  0%        { opacity: 1; }
  50%, 100% { opacity: 0; }
}

@keyframes mask {
  0%        { opacity: 1; }
  50%, 100% { opacity: 0; }
}

@-webkit-keyframes check {
  0%        { opacity: 0; }
  98%       { opacity: 0; }
  100%      { opacity: 1; }
}

@keyframes check {
  0%        { opacity: 0; }
  98%       { opacity: 0; }
  100%      { opacity: 1; }
}

@-webkit-keyframes background {
  0% { background: rgba(148,255,148,0); }
  95% { background: rgba(148,255,148,0); }
  100% { background: rgba(148,255,148,1); }
}

@keyframes background {
  0% { background: rgba(148,255,148,0); }
  95% { background: rgba(148,255,148,0); }
  100% { background: rgba(148,255,148,1); }
}

.stopwatch-wrapper {
  width: 44px;
  height: 44px;
  position: relative;
  background: rgba(148,255,148,1);
  border-radius: 250px;
  -webkit-animation: background 10s linear;
          animation: background 10s linear;
  overflow: hidden;
}

.stopwatch-wrapper:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 28%;
  top: 35%;
  left: 25.5%;
  border-left: 7px white solid;
  border-bottom: 7px white solid;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 500;
}

.stopwatch-pie {
  border-radius: 22px;
  width: 50%;
  height: 100%;
  position: absolute;
  border: 8px solid rgb(148,255,148);
}

.stopwatch-spinner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 200;
  border-right: none;
  -webkit-animation: rota 10s linear;
          animation: rota 10s linear;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.stopwatch-filler {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 100;
  border-left: none;
  -webkit-animation: fill 10s steps(1, end);
          animation: fill 10s steps(1, end);
  left: 50%;
  opacity: 1;
}

.stopwatch-mask {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 300;
  opacity: 0;
  background: white;
  -webkit-animation: mask 10s steps(1, end);
          animation: mask 10s steps(1, end);
  border-radius: 250px 0 0 250px;
}

.stopwatch-spinner, .stopwatch-filler, .stopwatch-mask, .stopwatch-wrapper {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}


.callback-queue {
  margin-bottom: 20px;
  margin-right: 20px;
  overflow-y: scroll;
}
.callback-queue.render-queue {
  margin-bottom: 5px;
}

.callback {
  font-family: monospace;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
  border: 2px #ddd solid;
  width: 200px;
  overflow: scroll;
}

.callback-active {
  background: rgb(220,224,255);
}

.stackBox {
  position: relative;
  margin-right: 20px;
}

.stack-wrapper {
  width: 244px;
  padding: 20px;
  margin-bottom: 86px;
  margin-top: 20px;
}

.stack-wrapper, .callback-queue, .webapis {
  border: 2px #ddd dashed;
  position: relative;
  padding: 25px 10px 10px 10px;
}

.stack-wrapper:before,
.callback-queue:before,
.webapis:before {
  font-family: Helvetica Neue, Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  color: #999;
}

.webapis {
  margin-top: 20px;
  margin-bottom: 86px;
  margin-right: 20px;
}

.webapis:before {
  content: "Web Apis";
}

.stack-wrapper:before {
  content: "Call Stack";
}

.callback-queue:before {
  content: "Callback Queue";
}

.callback-queue.render-queue:before {
  content: "Render Queue";
}

.stack {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}
.stackBox > .spinner-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
}

.stack-item {
  font-family: monospace;
  padding: 10px;
  margin: 5px;
  border: 2px #ddd solid;
  width: 220px;
  margin: 10px auto;
}


.spinner-wrapper {
  height: 76px;
  width: 76px;
  position: relative;
  padding: 9px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  margin-left: 82px;
}

.spinner-wrapper-transition {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.5s linear;
          transition: transform 0.5s linear;
}

.spinner-circle {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  border: 6px coral solid;
}

.spinner-arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 16px 16px 16px;
  border-color: transparent transparent white transparent;
  position: absolute;
}

.spinner-arrow:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent coral transparent;
  position: absolute;
}

.spinner-arrow-left:after {
  left: -12px;
  top: 4px;
}

.spinner-arrow-left {
  left: -2.5px;
  top: calc(50% - 9px);
}

.spinner-arrow-right {
  right: -2px;
  top: calc(50% - 6px);
  border-width: 16px 16px 0px 16px;
  border-color: white transparent transparent transparent;
}

.spinner-arrow-right:after {
  border-width: 12px 12px 0px 12px;
  border-color: coral transparent transparent transparent;

  left: -12px;
  bottom: 4px;
}

.code-node {
}

.code-node:empty {
  display: none;
}

.code-node.running {
  background: rgba(236, 117, 74, 0.25);
} 


/*********************************/
.tr-webapis-enter {
  background: rgb(255,255,194);
  -webkit-transition: background 0.2s linear;
          transition: background 0.2s linear;
}

.tr-webapis-enter.tr-webapis-enter-active {
  background: white;
}

.tr-webapis-leave {
  background: white;
  -webkit-transition: background 0.01s linear;
          transition: background 0.01s linear;
}

.tr-webapis-leave.tr-webapis-leave-active {
  background: white;
}

.tr-webapi-spawn {
  background: white;
  -webkit-transition: background 0.1s linear;
          transition: background 0.1s linear;
}

.tr-webapi-spawn.tr-webapi-spawn-active {
  background: rgb(255, 175, 146);
}

/*********************************/
.tr-queue-enter {
  background: rgb(255,255,194);
  -webkit-transition: background 0.2s linear;
          transition: background 0.2s linear;
}

.tr-queue-enter.tr-queue-enter-active {
  background: white;
}

.tr-queue-leave {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;
}

.tr-queue-leave.tr-queue-leave-active {
  -webkit-transform: translate(0, -100px);
      -ms-transform: translate(0, -100px);
          transform: translate(0, -100px);
  opacity: 0.01;
}


/*********************************/
.tr-stack-enter {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0.01;
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

.tr-stack-enter.stack-item-callback {
  -webkit-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;
}

.tr-stack-enter.tr-stack-enter-active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.tr-stack-leave {
  opacity: 1;
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

.tr-stack-leave.tr-stack-leave-active {
  opacity: 0.01;
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

.htmlEditorBox {
  position: relative;
}

.editor-switch {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9999;
}

.render-queue .callback-queued {
  background: white;
}

.render-queue .callback-delayed {
  background: rgba(255,0,0,0.5);
  -webkit-transition: background 0.2s linear;
          transition: background 0.2s linear;
}

.render-queue .callback-rendered {
  background: rgba(0,255,0,0.5);
  -webkit-transition: background 0.4s linear;
          transition: background 0.4s linear;
}


/*
.tr-render-queue-enter {
  background: white;
  transition: background 0.5s linear;
}

.tr-render-queue-enter.tr-render-queue-enter-active {
  background: red;
}

.tr-render-queue-leave {
  background: green;
  opacity: 1;
  transition: all 0.2s linear;
}

.tr-render-queue-leave.tr-render-queue-leave-active {
  background: white;
  opacity: 0.01;
  transition: all 0.2s linear;
}*/
/************************/

.top-nav {
  background: #D80;
  padding: 5px;
  height: 32px;
  position: absolute;
  width: 100%;
  color: #eee;
  padding-left: 10px;
}

.top-nav h1 {
  font-size: 20px;
  display: inline;
  position: relative;
  top: -2px;
  color: #eee;
}

.top-nav .settings-button {
  border: none;
  background: none;
  color: #eee;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-top: -7px;
}

.settingsColumn {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 200px;
  -webkit-transition: width 0.15s linear;
          transition: width 0.15s linear; 
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #ddd;
  color: #666;
}

.settingsColumn .setting {
  margin: 20px;
}

.settingsColumn.hidden {
  width: 0;
  overflow: hidden;
}

.ReactModal__Overlay {
    z-index: 20000;
    background: rgba(0,0,0,0.4);
}

.ReactModal__Content {
    left: 20%;
    right: 20%;
    border: none;
    font-size: 14px;
}

.ReactModal__Content * {
    color: #888;
}

.ReactModal__Content h1 {
    margin-top: 0;
}

.ReactModal__Content h1 + h2 {
    margin-top: 20px;
}

.ReactModal__Content h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.ReactModal__Content a {
    color: #DF8900;
}

.ReactModal__Content li {
    margin-bottom: 5px;
}

.ReactModal__Content iframe {
    margin: 40px auto;
    max-width: 100%;
    display: block;
    border: none;
}



.modal-button {
    float: right;
}

.modal-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

p.info {
    text-align: center;
    margin-top: 40px;
}

a.modalClose {
    position: absolute;
    top: 15px;
    right: 15px;
}
a:hover {
    cursor: pointer;
}
